@CHARSET "UTF-8";
body {
	background: #E9E9E9;
	font: 11px/1.33 Verdana, sans-serif;
}

body > div {
	border-radius: 10px;
}

a {
	text-decoration: none;
}

.log {
	position: absolute;
	left: 350px;
	top: 120px;
	width: 800px;			
	height: 500px;
	background: #bbbbbb;	
	z-index: 2;	
}
.log > span {
	background-color: #298cad;
	border-radius: 6px;
	padding: 10px 0 10px 0px;
}

.log .title {
	display: inline-block;
	width: 100%;
	text-align: center;			
	color: white;
	font-size: 18px;
}

.log #logView {
	position:relative;
	width: 96%;
	height: 79%; 
	margin: 1% auto;
	overflow:auto;
	color: #ccc;
	background: #444;
	border-radius: 6px;
}

.log .operation {
	position: absolute;
	left: 10%;
	bottom: 1%;
	width: 80%;
	text-align: center;
}

.log .operation a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 3px 15px 3px;
	font-size: 14px;
	line-height: 27px;
	width: 80px;
	background: #298cad;
	border-radius: 5px;
	margin-left: 10px;
}

.log .operation a:hover {
	color: #298cad;
	background: white;
	border: 1px solid #298cad;
}
