@CHARSET "UTF-8";
#titleTabs {
	position: absolute;
	left: 510px;
	top: 150px;
	width: 500px;			
	height: 40px;
	z-index: 2;
}

#titleTabs a {
	display: inline-block;
	float: left;						
	width: 20%;
	padding: 10px 0 10px 0px;
	margin: 0 0 0 1%;
	color: white;
	background-color: #298cad;
	border-radius: 6px;			
	font-size: 16px;
	text-align: center;		
	text-decoration: none;	
}

#titleTabss a:hover {
	color: #298cad;
	background: white;
	border: 1px solid #298cad;
}

#titleTabs a.sel {
	color: black;
	background: #bbbbbb;
}