@CHARSET "UTF-8";
body {
	background: #E9E9E9;
	font: 11px/1.33 Verdana, sans-serif;
}

body > div {
	border-radius: 10px;
}

.home .header {
	width: 80%;			
	margin: auto;
	color: white;
	font-size: 18px;
	height: 63px;
}

.home  .header > span {
	background-color: #298cad;
	border-radius: 6px;
	padding: 20px 0 20px 0px;
}

.home .header .title {
	display: inline-block;
	width: 100%;
	text-align: center;			
}

.home .content {
	position: relative;
	width: 70%;
	height: 600px;
	color: white;		
	padding: 5%;		
	margin:auto;	
}

.home .content > div {
	position: relative;
	font-size: 22px;
	height: 280px;
	width: 26%;
	background: #444;
	float: left;
	text-align: center;
	line-height: 68px;
	margin-left: 5%;
	padding-top: 50px; 
	opacity: 1;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.home .content > div:hover {
	background: #555;
}